*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    overflow: hidden;
    padding: 0px 30px;
    width: 100%;
    background-color:#35363A;
}
.logo{
    float: left;
}
.menu{
    list-style: none;
    background:red;
    float: right;
}

body{
    background-color: red;
}